/* 알람창 - 02.23 장재호 */
@keyframes vibration {
  0% {
    transform: rotate(30deg);
    color : #2426DC;
  }
  
  50%{
    transform: rotate(-30deg);
    color : white;
  }
  
  100% {
    transform: rotate(30deg);
    color : #2426DC;
  }
}

#alarmDiv{
	margin-right : 20px;
	margin-top : 20px;
	text-align : right;
	min-width : 20rem;
	max-width : 20rem;
	visibility : hidden;
}

#alarmDiv #alarmI{
	cursor : pointer;
	font-size : 50px;
	color : white;
	animation: vibration .4s infinite;
	will-change: transform;	
	margin-bottom : 10px;
}
	
#alarmDiv #alarm_Area{
	font-size : 14px;
	background-color : white;
	visibility : hidden;
}

#alarmDiv #alarm_Area .alarm_Text{
	padding : 5px;
	background-color : #25252b;
	border : 1px solid black;
	color : white;
}

.visible{
	visibility : visible !important;
}
