/* 알람창 - 02.23 장재호 */
@keyframes vibration {
  0% {
    transform: rotate(30deg);
    color : #2426DC;
  }
  
  50%{
    transform: rotate(-30deg);
    color : white;
  }
  
  100% {
    transform: rotate(30deg);
    color : #2426DC;
  }
}

#alarmDiv{
	text-align : right;
	min-width : 20rem;
	max-width : 20rem;
	position : fixed;
	left : 82%;
	top : 10%;
	visibility : hidden;
}

#alarmDiv #alarmI{
	cursor : pointer;
	font-size : 50px;
	color : white;
	animation: vibration .4s infinite;
	will-change: transform;	
	margin-bottom : 10px;
}
	
#alarmDiv #alarmUL{
	font-size : 14px;
	background-color : white;
	visibility : hidden;
}

#alarmDiv #alarmUL li{
	background-color : #25252b;
	border : 1px solid black;
	color : white;
}

#alarmDiv #alarmUL visible{
	visibility : visible;
}
