*{
	margin: 0;
	padding: 0;
}

:root{
    --logo-color:#FFCC00;
    --logo-size: 60px;
    --title-size: 25px;
    --title-border: 600px;
    --text-color:#CCCCCC;
    --text-size: 17px;
    --bg:#24292D;
}

footer{
	background-color:#282c31;
	background-size: cover;
}

.link_box{
	height: 100px;
	text-align: center;
	line-height: 100px;
}

#map{
	border : solid var(--bg) 2px;
	width : 500px;
	height : 300px;
	margin-left : 15%;
}

#f_Con1{
	display : flex;
	align-items:center;
	justify-content: center;
}

#f_Con2{
	margin-left : -15%;
	width: 55%;
	text-align: center;
}

#f_Con2 p{
	font-size: var(--text-size);
	color: var(--text-color)
}