:root {
    --bg: #24292D;
    --btn_bg: #e1555a;
    --btn_hover_bg: #e56b6f;
    --main-text-color: #CCCCCC;
    --sub-text-color: #FFCC00;
    --error-text-color: #F82F62;
    --large-text-size: 25px;
    --medium-text-size: 17px;
    --small-text-size: 13px;
}
   
*{
   margin: 0;
   padding : 0;
}

.text {
   color: var(--main-text-color);
}

button {
   border: none;
   border-radius: 10px;
   width: 3.8rem;
    height: 1.5rem;
    background-color: #393e42;
    color: var(--main-text-color);
    cursor: pointer;
}

input {
   border: none;
   border-radius: 10px;
   width: 3.8rem;
    height: 1.5rem;
    background-color: #393e42;
    color: var(--main-text-color);
}

input[type=button] {
   cursor: pointer;
}

textarea {
   border: none;
   resize: none;
   border-radius: 10px;
   background-color: #393e42;
    color: var(--main-text-color);
    width: 50rem;
    height: 5rem;
}

form {
   border: none;
}
/* 공통 css 적용 end */
   
/* video area start */

.video_area {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-bottom: 5rem;
}

.video_area .videoD{
   width : 1600px;
   height : 800px;
   background-color : var(--bg);
}

/* video area start */

/* movie info start */

.info_area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #393e42;
    width: 80%;
    margin-left: 11.5rem;
    height: 23rem;
    border-radius: 100px;
}

.movie_info {
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem; 
    width: 40%;  
    overflow: scroll;
    overflow: auto;
}

.movie_summary {
   line-height: 1.5rem;
   word-break: keep-all;
}

.movie_info::-webkit-scrollbar {
   width: 0.7rem;
}

.movie_info::-webkit-scrollbar-track {
   background-color: #393e42;
}

.movie_info::-webkit-scrollbar-thumb {
   background-color: var(--main-text-color);
   border-radius: 10px;
}

.actor_info {
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    height: 20rem;
    width: 25%;
    overflow: scroll;
    overflow: auto;
}

.actor_info::-webkit-scrollbar {
   width: 0.7rem;
}

.actor_info::-webkit-scrollbar-track {
   background-color: #393e42;
}

.actor_info::-webkit-scrollbar-thumb {
   background-color: var(--main-text-color);
   border-radius: 10px;
}

/* movie info end */

/* button area start */

.comunication_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    height: 3rem;
    margin-left: 86rem;
    margin-top: 0.5rem;    
}

.comunication_btn > i {
    font-size: 25px;
    cursor: pointer;
    color: var(--btn_bg);
}

.comunication_btn > i > p {
    font-size: 15px;
}

/* button area end */

/* comment wirte area start */

.comment_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 7rem;
}

#comment_input {
    margin-top: 1rem;
    margin-left: 9.8rem;
    width: 80%;
    height: 3rem;
    font-size: medium;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#comment_write_btn {
    width: 3.5rem;
    height: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 102.7rem;    
}

/* comment wirte area end */

/* comment list area start */

.comt_list_hr {
   margin-bottom: 1rem;
}

.comment_list_area {
    height: 50rem;
    width: 110rem;
    overflow: auto;
}

.comment_list_area::-webkit-scrollbar {
   width: 0.7rem;
}

.comment_list_area::-webkit-scrollbar-track {
   background-color: var(--bg);
}

.comment_list_area::-webkit-scrollbar-thumb {
   background-color: var(--main-text-color);
   border-radius: 10px;
}

.comment_list {
    font-size: 18px;
    margin-left: 10rem;
}

.com_contents {
    line-height: 2rem;
    width: 90rem;
    word-break: break-all;
}

.comment_btn {
    display: flex;
    margin-bottom: 0.5rem;
}

#bad {
   margin-left: 0.5rem;
}

#co_comment_list {
   margin-left: 0.5rem;
}

.cocom_list_btn {
   margin-left: 0.5rem;
}

.comment_update {
   margin-left: 0.5rem;
   margin-right: 0.5rem;
}

.cocomt_update {
   margin-left: 0.5rem;
   margin-right: 0.5rem;
}

.comment_btn > i {
    font-size: 25px;
}

.comment_btn > p {
    font-size: 15px;
}

#com_list_hr {
   margin-top: 1rem;
   margin-bottom: 1rem;
}

/* 댓글 이미지 작업 - 0306 김범수*/
/*댓글 위치 조정*/
.com_title{
   display: flex;
}

/*대댓글 위치 조정*/
.cocom_title{
   display: flex;
}

/*원댓글 아이콘*/
.com_img{
   width: 3rem;
   height: 3rem;
   margin-right : 10px;
   border-radius: 100%;
}

/*프로필 없을 경우 아이콘*/
.default_img{
   width: 3rem;
   height: 3rem;
   margin-right : 10px;
   border-radius: 100%;
}

/*대댓글 아이콘*/
.cocom_img{
   width: 3rem;
   height: 3rem;
   margin-right : 10px;
   border-radius: 100%;
}

.com_name{
   margin-top: 10px;
}

/* comment list area end */

/* co-comment list area start */

.co_comment_list {
   margin-top: 0.5rem;
   margin-left: 1rem;
}

.cocom_contents {
    line-height: 2rem;
    width: 85rem;
    word-break: break-all;
}

#cocom_cd_btn {
   margin-left: -0.5rem;
}

.cocom_hr {
    margin: 0.5rem 0 0.5rem 0;
    width: 85rem;
}

/* co-comment list area end */