:root{
    --logo-color:#FFCC00;
    --logo-size: 60px;
    --title-size: 25px;
    --title-border: 600px;
    --text-color:#CCCCCC;
    --text-size: 17px;
    --bg:#24292D;
}

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--bg);
}

/* section start */
/* 내보관함 전체 영역 */
.slider {
	display: flex;
	justify-content:center;
	align-items:center;
	height: 350px;
	overflow: hidden;
	position: relative;
}

/* 영상 이미지 출력 영역 */
.video_div{
   margin: 10px;
   height: 280px;
   width:250px;
}

/* 영상 이미지 크기 조정 */
img{
   height: 270px;
   width: 90%;
}

/* 슬라이드 버튼(화살표) 크기 / 색상 조정*/
.slick-arrow {
    padding:5px;
    background-color: var(--bg);
    border: none;
	color: white;
	font-size: 50px;
}

/* 내보관함 text */
.mylocker_text{
	font-size: var(--title-size);
	color: var(--text-color);
	padding: 3vh 0 0 5vw; 
}
/* section end */